@import url('https://fonts.googleapis.com/css?family=Lato');

body, html{
  height: 100%;
  background: #222222;
	font-family: 'Lato', sans-serif;
}

.container{
  display: block;
  position: relative;
  margin: 40px auto;
  height: auto;
  width: 500px;
  padding: 20px;
}

h2 {
	color: #AAAAAA;
}

.container ul{
  list-style: none;
  margin: 0;
  padding: 0;
	overflow: auto;
}

ul li{
  color: #AAAAAA;
  display: block;
  position: relative;
  float: left;
  width: 50%;
  height: 100px;
  border-bottom: 1px solid #333;
  
}

ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

ul li label{
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 1.08em;
  padding: 25px 25px 25px 80px;
  margin: 10px auto;
  height: 30px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

ul li:hover label{
	color: #FFFFFF;
}

ul li .check{
  display: block;
  position: absolute;
  border: 2px solid #AAAAAA;
  border-radius: 100%;
  height: 17px;
  width: 17px;
  top: 34px;
  left: 20px;
	z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}

ul li:hover .check {
  border: 5px solid #FFFFFF;
}

ul li .check::before {
  display: block;
  position: absolute;
	content: '';
  border-radius: 100%;
  height: 7px;
  width: 7px;
  top: 5px;
	left: 5px;
  margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}

input[type=radio]:checked ~ .check {
  border: 4px solid #0DFF92;
}

input[type=radio]:checked ~ .check::before{
  background: #0DFF92;
}

input[type=radio]:checked ~ label{
  color: #0DFF92;
}

.signature {
	margin: 10px auto;
	padding: 10px 0;
	width: 100%;
}

.signature p{
	text-align: center;
	font-family: Helvetica, Arial, Sans-Serif;
	font-size: 0.85em;
	color: #AAAAAA;
}

.signature .much-heart{
	display: inline-block;
	position: relative;
	margin: 0 4px;
	height: 10px;
	width: 10px;
	background: #AC1D3F;
	border-radius: 4px;
	-ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.signature .much-heart::before, 
.signature .much-heart::after {
	  display: block;
  content: '';
  position: absolute;
  margin: auto;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background: #AC1D3F;
  top: -4px;
}

.signature .much-heart::after {
	bottom: 0;
	top: auto;
	left: -4px;
}

.signature a {
	color: #AAAAAA;
	text-decoration: none;
	font-weight: bold;
}


/* Styles for alert... 
by the way it is so weird when you look at your code a couple of years after you wrote it XD */

.alert {
	box-sizing: border-box;
	background-color: #0DFF92;
	width: 100%;
	position: relative; 
	top: 0;
	left: 0;
	z-index: 300;
	padding: 20px 40px;
	color: #333;
}

.alert h2 {
	font-size: 22px;
	color: #232323;
	margin-top: 0;
}

.alert p {
	line-height: 1.6em;
	font-size:18px;
}

.alert a {
	color: #232323;
	font-weight: bold;
}
.container-center-question{
 
 display: flex;
 justify-content: center;
 justify-items: center;
 margin-top: 20px;
 


}

.container-center-options{

    margin-top: 10px;
    display: flex;
    justify-content: center;
    

   
   
   }

#title-question{

    display: flex;
    justify-content: center;
    border-radius: 5px 10px 20px 30px;
    padding: 5px 10px 20px 30px;
    width: 100%;
    word-break: break-all

}

@keyframes answer-true {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 0; }
}
.answer-true {

background: green; 
  -webkit-animation: answer-true .75s linear infinite;
  -moz-animation: answer-true .75s linear infinite;
  -ms-animation: answer-true .75s linear infinite;
  -o-animation: answer-true .75s linear infinite;
  animation: answer-true .75s linear infinite;
}

.answer-false{

    background:red; 
    color:white;

}


.container-logo .logo-game{

  height: 300px;
  width: 300px;
  background: url('../img/logo-iron2.png') 0 0 no-repeat;
  background-size: 90%;
  display: inline-block;
}

@media screen and (min-width: 90px) and (max-width: 740px) {
  
  .container-logo .logo-game{
 
      background: url('../img/logo-iron2.png') 0 0 no-repeat;
      background-size: 100%;
      display: inline-block;
  }
  

}
.container-buttons{

  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin-top: 80px;
 
 

}

.container-master{

  margin-left: 25%;
  width:50%;

}

.container-logo{

 display: flex;
 justify-content: center;
 margin-top: 80px
 
}

.options{

  margin-left: -25px;
  margin-top: 2px;
}

.btnStart{ 
  display: flex;
  justify-content: center;
  color:white;
  width: 200px;
  height: 70px;
  background: #32c5ff;
  border-radius: 5px 5px 5px 5px
}

.btnAbout{
  
  display: flex;
  justify-content: center;
  color:white;
  width: 200px;
  height: 70px;
  background: #32c5ff;
  border-radius: 5px 5px 5px 5px;

}

.head{

  background: #32c5ff;
  height: 300px;

}

.section-logo{



  

}
.container-master-game{

   background: white;
   width: 50%;
   height: 170px;
   margin-left:25%;
   border-radius: 5px 5px 5px 5px;
   margin-bottom: 20%;
  

}

#list-options{
  margin-top:120px;
  margin-left: -40px;
}


#clock {
  border: 2px solid #000;
  border-radius: 20px;
  box-sizing: border-box;
  height: 250px;
  margin: 0 auto;
  padding: 18px 0;
  width: 245px;
}

#sphere {

  border: 2px solid #000;
  border-radius: 20px;
  box-sizing: border-box;
  font-family: "Digi";
  font-size: 50px;
  height: 88px;
  margin-left: 333px;
  padding: 0px 0;
  position: relative;
  text-align: center;
  width: 180px;
  background: #AC1D3F
}

#splits-container {
  
  font-size: 20px;
  font-weight: 100;
  position: absolute;
  left: 50px;
}

#splits-container li {
  padding-bottom: 5px;
  text-align: right;
}

#milliseconds {
  font-size: 36px;
  margin-top: -15px;
  position: absolute;
  right: 20px;
}

.leash {
  background: rgb(204, 84, 87);
  border: 2px solid rgb(134, 59, 61);
  height: 50px;
  margin: 0 auto;
  width: 120px;
}

.leash-top {
  border-bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.leash-bottom {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 0;
  height: 270px;
  padding-top: 50px;
}

.hole {
  background: #fff;
  border: 2px solid rgb(134, 59, 61);
  border-radius: 100%;
  height: 20px;
  margin: 0 auto 50px;
  width: 20px;
}

.number {
  display: inline-block;
  width:19px;
}

.btn {
  border: 0;
  border-radius: 100%;
  bottom: 10px;
  color: #fff;
  cursor: pointer;
  height: 50px;
  outline: 0;
  position: absolute;
  width: 50px;
}